header{
    background-color:rgb(151, 139, 160);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
li{
    margin-left: 2rem;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 2rem;
}
p{
    color: gray;
}
footer{
    padding-left: 2rem;
    padding-right: 2rem;

    background-color: black;
    font-size: 12px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer p{
    color: white;
}
article{
    max-width: 960px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}